$black-color: #000000;
$black-translucent-color:#00000099;
$black-scrollbar-color:#00000100;
$box-shadow-default-color:#00000026;
$box-shadow-light-color:#0000001a;
$light-black-text-color:#2f2f2f;

$white-color: #ffffff;
$off-white-color:#f2f2f2;
$disabled-grey-color:#c1c2c2;
$dark-grey-background-color:#858685;
$light-grey-background-color:#E4E4E4;
$very-light-grey-background-color:#EFF0F1;
$light-grey-text-color:#5D5D5D;
$blue-loader-color: #6ac0d0;
$grey-modal-background-color: #FFFFFF80;
$light-grey-border-color:#0000003b;
$light-blue-text-color:#006EFF;


$bright-red-warning-color:#d0182b;
$cancel-red-color:#ed1f23;
$success-green-color: #87b954;


$primary-blue-color:#130739;
$primary-blue-text-color:#26266D;
$primary-purple-color:#cdcded;
$primary-light-violet-color:#9794b7;

$secondary-bright-blue-color:#006EFF;


$header-height:5.3rem;
$footer-height:5.3rem;
$page-min-height:calc(100vh - $footer-height - $header-height);
$phone-screen-width:800px;
$phone-screen-small-width:395px;